* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

main {
  height: 100vh;
  width: auto;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  width: 550px;
  display: flex;
  flex-direction: row;
}

.panel1 img{
  height: auto;
  width: 275px;
  border-radius: 15px 0 0px 15px;
}

.panel1 .mobile {
  display: none;
}

.panel2 {
  padding: 25px 25px;
  background-color: white;
  border-radius: 0px 15px 15px 0px;
}

.panel2 h4, .panel2 h1 .original_price {
  font-family: 'Montserrat', sans-serif;
}

.panel2 h1 {
  font-family: 'Fraunces', serif;
}

.panel2 h4{
  /* font-size: 12px; */
  padding-bottom: 15px;
  color: hsl(228, 12%, 48%);
  line-height: 1.5;
}

.panel2 h1, .panel2 h1 .discounted_price {
  /* font-size: 30px; */
  font-weight: 700;
  /* padding-bottom: 25px; */
  line-height: 95%;
}

/* .description {
  font-size: 14px;
  padding-bottom: 25px;
  color: hsl(228, 12%, 48%);
  line-height: 1.5;
} */

.panel2 h1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
}

.panel2 h1 .discounted_price {
  color: hsl(158, 36%, 37%);
  padding-right: 20px;
}

/* .discounted_price {
  font-size: 30px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  padding-right: 20px;
} */

.panel2 h1 .original_price {
  font-size: 12px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 8px;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}

button img {
  height: 15px;
  width: auto;
}

button p {
  padding-left: 12px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

button:active {
  background-color: hsl(158, 100%, 15%);
}

@media (max-width: 820px) {

  main {
    background-color: hsl(30, 38%, 92%);
  }

  .container {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    max-width: 335px;
  }
  .panel1 img {
    display: none;
    border-radius: 0px;
  }

  .panel1 .mobile {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0px 0px;
  }

  .panel1, .panel2 {
    width: 100%;
  }

  .panel2 {
    border-radius: 0px 0px 15px 15px;
  }

  .perfume{
    font-size: 14px;
    padding-bottom: 18px;
  }
  
  .gabrielle {
    font-size: 32px;
    padding-bottom: 18px;
  }
  
  .description {
    font-size: 16px;
    padding-bottom: 18px;
    /* padding-right: 20px; */
    line-height: 1.7;
  }
  
  .price {
    padding-bottom: 18px;
  }

  .discounted_price {
    font-size: 32px;
  }
  
  button {
    padding: 20px;
  }
  


}